.dolls{
  font-size:50px;
  animation: jump 1s infinite alternate;
}

@keyframes jump{
  from{transform:translateY(0)}
  to{transform:translateY(-15px)}
}
.letter{
  background:#ffb6c1;
  padding:10px;
  margin:10px;
  border-radius:10px;
  animation: float 3s infinite ease-in-out;
}

@keyframes float{
  0%{transform:translateY(0)}
  50%{transform:translateY(-10px)}
  100%{transform:translateY(0)}
}

.popup{
  display:none;
  position:fixed;
  background:white;
  top:20%;
  left:10%;
  width:80%;
  padding:10px;
}
