body{
  margin:0;
  font-family:cursive;
  background:#ffd6e7;
  text-align:center;
}

/* Card Design */
.card{
  background:#ffe6f0;
  padding:20px;
  margin:20px;
  border-radius:20px;
  box-shadow:0 0 10px pink;
}

/* Buttons */
button{
  padding:10px 20px;
  border:none;
  border-radius:15px;
  background:#ff80b3;
  color:white;
  font-size:16px;
  margin:10px;
}

button:hover{
  transform:scale(1.1);
}

/* Music Button */
#music-btn{
  position:fixed;
  top:10px;
  right:10px;
  font-size:20px;
  background:white;
  color:black;
}

/* Doll Animation */
.doll, .dolls{
  font-size:50px;
  animation:bounce 1.5s infinite;
}

@keyframes bounce{
  0%{transform:translateY(0)}
  50%{transform:translateY(-12px)}
  100%{transform:translateY(0)}
}

/* Letters Page */
.letters{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.letter{
  width:120px;
  height:80px;
  background:#c94c84;
  color:white;
  margin:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:12px;
  animation:float 3s infinite;
}

@keyframes float{
  0%{transform:translateY(0)}
  50%{transform:translateY(-10px)}
  100%{transform:translateY(0)}
}

/* Popup */
.popup{
  display:none;
  position:fixed;
  top:10%;
  left:10%;
  width:80%;
  background:white;
  padding:15px;
  border-radius:15px;
}

.popup img{
  width:100%;
  border-radius:10px;
}

.back{
  font-size:20px;
  cursor:pointer;
}

/* Arrow Button */
.next{
  position:fixed;
  bottom:20px;
  right:20px;
  font-size:22px;
}
